.InlineBlock {
  display: inline-block;
}
.pcontainer {
  width: 100%;
  height: 100%;
  display: flex;
}
.pcontainer .containterLeft {
  width: 237px;
  height: 100%;
  background: #1b2d36;
}
.contentDiv {
  flex: 1;
  padding: 0 30px;
  height: 100%;
  background: #f7f7f7;
}
.contentDiv .icon {
  display: inline-block;
  width: 30px;
  height: 30px;
  margin-right: 6px;
}
.ContentHeader {
  display: flex;
  padding: 19px 0 20px;
}
.ContentHeader .ContentHeaderLeft {
  flex: 3;
}
.ContentHeader .ContentHeaderLeft p {
  color: #999;
}
.ContentHeader .ContentHeaderLeft p .active {
  color: #333333;
}
.ContentHeader .ConteHeaderRight {
  flex: 2;
}
.ContentHeader .ConteHeaderRight .remark {
  color: #333333;
}
.listLiContent {
  padding: 14px 0 15px 0;
  display: flex;
}
.ListLi {
  background: #fff;
  min-width: 400px;
  padding: 0px 16px;
  margin: 0 15px 15px 0;
  border-radius: 4px;
  box-shadow: 0px 1px 6px 0px #e8e7e7;
}
.listLiHeader {
  display: flex;
  border-bottom: 1px solid #f8f8f8;
  height: 50px;
  padding-top: 10px;
}
.listLiHeader .listLiHeaderLeft {
  flex: 1;
}
.listLiHeader .listLiHeaderLeft span,
.listLiHeader .listLiHeaderLeft b {
  position: relative;
  top: -8px;
}
.listLiHeader .listLiHeaderLeft b {
  margin-right: 6px;
}
.listLiHeader .listLiHeaderLeft .ChiTitle {
  font-size: 18px;
  color: #333333;
}
.listLiHeader .listLiHeaderLeft .EngTitle {
  font-size: 14px;
  line-height: 43px;
  color: #666666;
}
.listLiHeader .iconTalkBox {
  width: 43px;
}
.listLiHeader .iconTalkBox .iconTalk {
  position: relative;
  top: 7px;
}
.listLiHeader .iconMoreBox {
  width: 24px;
}
.listLiHeader .iconMoreBox .iconMore {
  position: relative;
  top: 7px;
}
.liContentLeftBox {
  position: relative;
  min-width: 170px;
  min-height: 94px;
  background-image: url(../img/left_bg.png);
  background-size: 100% 100%;
}
.liContentRightBox {
  position: relative;
  min-height: 94px;
  min-width: 170px;
  background-image: url(../img/right_bg.png);
  background-size: 100% 100%;
}
.liContentRightBox.warn {
  background-image: url(../img/warn_bg.png);
  background-size: 100% 100%;
}
.Content {
  z-index: 2;
  padding: 10px 10px 10px 10px ;
  color: #fff;
}
.Content p:nth-child(1) {
  font-size: 12px;
}
.Content p:nth-child(1) .iconClock {
  margin-right: 4px;
}
.Content p:nth-child(1) span {
  position: relative;
  top: -2px;
}
.Content p:nth-child(2) {
  font-size: 14px;
}
.Content p:nth-child(2) .MonitorMount {
  margin-right: 4px;
}
.Content p:nth-child(3) {
  font-size: 14px;
}
.liContentCenter {
  text-align: center;
  flex: 1;
}
.iconPoint.warn {
  background: url(../img/jt_warn.png) no-repeat;
  background-size: 100% 100%;
}
/*.ContentLeftBack{
	position: absolute;
	width: 100%;
	height:100%;
	display: flex;
	z-index: 0;
	div{
		background-repeat: no-repeat;
	}
	div:nth-child(1){
		width:30px;
		background-image: url(../img/left_bg_01.png) ;
		background-size:100% 100%; 

	
	}
	div:nth-child(2){
		flex: 1;
		background-image: url(../img/left_bg_02.png) ;
		background-size:100% 100%; 
	
	}
	div:nth-child(3){
		width:30px;
		background-image: url(../img/left_bg_03.png) ;
		background-size:100% 100%; 
	
	}
}*/
.iconClock {
  display: inline-block;
  width: 12px;
  height: 12px;
  background: url(../img/time.png) no-repeat;
  background-size: 100% 100%;
}
.iconMore {
  display: inline-block;
  width: 24px;
  height: 24px;
  background: url(../img/more.png) no-repeat;
  background-size: 100% 100%;
}
.pointer {
  cursor: pointer;
}
.iconTalk {
  display: inline-block;
  width: 24px;
  height: 24px;
  background: url(../img/sendmessage.png) no-repeat;
  background-size: 100% 100%;
}
.iconPoint {
  display: inline-block;
  width: 116px;
  height: 23px;
  background: url(../img/jt.png) no-repeat;
  background-size: 100% 100%;
}
.iconTrash {
  background: url(../img/1gf_icon.png) no-repeat;
  background-size: 100% 100%;
}
.iconZhyw {
  background: url(../img/2zhyw_icon.png) no-repeat;
  background-size: 100% 100%;
}
.iconFshj {
  background: url(../img/3fshj_icon.png) no-repeat;
  background-size: 100% 100%;
}
.iconJsxm {
  background: url(../img/4jsxm_icon.png) no-repeat;
  background-size: 100% 100%;
}
.iconHjyj {
  background: url(../img/5hjyj_icon.png) no-repeat;
  background-size: 100% 100%;
}
.iconPwxk {
  background: url(../img/6pwxk_icon.png) no-repeat;
  background-size: 100% 100%;
}
.iconPwsb {
  background: url(../img/7pwsb_icon.png) no-repeat;
  background-size: 100% 100%;
}
.iconXfts {
  background: url(../img/8xfts_icon.png) no-repeat;
  background-size: 100% 100%;
}
.iconShhj {
  background: url(../img/9shhj_icon.png) no-repeat;
  background-size: 100% 100%;
}
.iconZxjc {
  background: url(../img/10zxjc_icon.png) no-repeat;
  background-size: 100% 100%;
}
.iconXzxk {
  background: url(../img/11xzxk_icon.png) no-repeat;
  background-size: 100% 100%;
}
.iconXzcf {
  background: url(../img/12xzcf_icon.png) no-repeat;
  background-size: 100% 100%;
}
.iconYdzf {
  background: url(../img/13ydzf_icon.png) no-repeat;
  background-size: 100% 100%;
}
@media only screen and (min-width: 1920px) {
  .ListLi {
    width: 32%;
    margin-right: 1.5%;
  }
  .ListLi:nth-child(3n) {
    margin-right: 0%;
  }
}
/*@media only screen and (min-width: 1501px) and (max-width: 1919px) {
	.listBox{
		width: 1143px;
    margin: 0 auto;
	}
	.ListLi{
		width:560px;
	}
  .ListLi:nth-child(odd){
		margin-right:16px;
	}
	.ListLi:nth-child(even){
		margin-right:0%;
	}
}*/
@media only screen and (max-width: 1919px) {
  .listBox {
    width: 1082px;
    margin: 0 auto;
  }
  .ListLi {
    width: 530px;
  }
  .ListLi:nth-child(odd) {
    margin-right: 16px;
  }
  .ListLi:nth-child(even) {
    margin-right: 0%;
  }
}
